@using DG_BugTracker.Models
@model Ticket
@{
    ViewBag.Title = "Assign A Ticket";
}

<h2>Assign A Ticket</h2>

@using(Html.BeginForm("AssignTicket", "Tickets", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    Assign A Developer
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-right">
                            Assign A Developer
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownList("AssignedToUserId", null, new { @class= "form-control"})
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Assign Developer</button>
                </div>
            </div>
        </div>
    </div>
}

