@using DG_BugTracker.Models
@model Ticket
@{
    ViewBag.Title = "Assign A Ticket";
    ViewBag.Header = "Assign";
    ViewBag.Subheader = $"{Model.Title}";
}




@using(Html.BeginForm("AssignTicket", "Tickets", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="row" style="padding-top: 50px;">
        <div class="col-md-12">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="text-left">
                    Assign A Developer
                </label>
                <div class="col-md-10">
                    @Html.DropDownList("AssignedToUserId", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn bg-brand-primary-solid">Assign</button>
        </div>
    </div>
}

