@using DG_BugTracker.ViewModels
@using DG_BugTracker.Helpers
@model IEnumerable<UserProfileViewModel>

@{
    var roleHelper = new UserRoleHelper();
    ViewBag.Header = "Manage Roles";
    ViewBag.Subheader = "Assign multiple team members to roles.";
}

<div class="row">
    <div class="col-md-12" style="margin-top:5%">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { style = "width:90%;" }))
        {
            @Html.AntiForgeryToken()
            <h6 class="text-center text-muted">(Ctrl + click to select multiple users)</h6>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-4 text-right">
                    1) Select User:
                </div>
                <div class="col-md-8">
                    <!-- listbox -->
                    @Html.ListBox("Users", null, new { @class = "form-control", size = "25", style = "height:125px" })
                </div>
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-4 text-right">
                    2) Select Role:
                </div>
                <div class="col-md-8">
                    <!-- dropdown -->
                    @Html.DropDownList("RoleName", null, "--Select Role--", new { @class = "form-control" })
                </div>
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-4 text-right">
                    3) Submit new roles:
                </div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-wd bg-brand-primary-solid">Submit Changes</button>
                </div>
            </div>
        }
    </div>
</div>
    





<style>
    select {
        height: 300px;
    }
</style>
