/* Custom style rules + UI Kit Overrides*/


/*
    vertical gradient:
    background: linear-gradient(0deg, #E42C64 3%, #121B74 88%);

    horizontal gradient:
    background: linear-gradient(90deg, #E42C64 3%, #121B74 88%);


*/
.bg-brand-full {
    background: linear-gradient(0deg, #E42C64 3%, #121B74 88%) !important;
    background-repeat: no-repeat !important;
}

.bg-brand-primary {
    background: linear-gradient(90deg, #E430B9 3%, #E42C64 88%) !important;
}

.bg-brand-secondary {
    background: linear-gradient(90deg, #614AD3 2%, #121B74 100%) !important;
}

.bg-brand-secondary-solid {
    background: #121B74 !important;
}

.bg-brand-teritary-solid {
    background: #614ad3 !important;
}

.bg-brand-teritary {
    background: linear-gradient(90deg, #E42C64 2%, #614AD3 100%) !important;
}

.brand-primary-color {
    /*Pink*/
    color: #e42c64 !important;
}

.bg-brand-primary-solid{
    background: #e43089 !important;
}

.brand-secondary-color {
    /*Dark Purple*/
    color: #121b74 !important;
}

.brand-teritary-color {
    /*Lavander*/
    color: #614ad3 !important;
}

.whitebg {
    background: #fff !important;
}
.fixed-bg{
    position: absolute;
    bottom: 0;
    width: 100%;
}


