/* Custom style rules + UI Kit Overrides*/


/*
    vertical gradient:
    background: linear-gradient(0deg, #E42C64 3%, #121B74 88%);

    horizontal gradient:
    background: linear-gradient(90deg, #E42C64 3%, #121B74 88%);


*/
.bg-brand-full {
    background: linear-gradient(0deg, #E42C64 3%, #121B74 88%) !important;
    background-repeat: no-repeat !important;
}

.bg-brand-primary {
    background: linear-gradient(90deg, #E430B9 3%, #E42C64 88%) !important;
}

.bg-brand-secondary {
    background: linear-gradient(90deg, #614AD3 2%, #121B74 100%) !important;
}

.bg-brand-secondary-solid {
    background: #121B74 !important;
}

.bg-brand-teritary-solid {
    background: #614ad3 !important;
}

.bg-brand-teritary {
    background: linear-gradient(90deg, #E42C64 2%, #614AD3 100%) !important;
}

.brand-primary-color {
    /*Pink*/
    color: #e42c64 !important;
}

.bg-brand-primary-solid{
    background: #e42c64 !important;
}

.brand-secondary-color {
    /*Dark Purple*/
    color: #121b74 !important;
}

.brand-teritary-color {
    /*Lavander*/
    color: #614ad3 !important;
}

.whitebg {
    background: #fff !important;
}

.darkbg {
   background-color: #4d646c !important;
}

.fixed-bg{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.inprogress {
    background-color: #85e65b !important;
}

.urgentstatus {
    background-color: #800000 !important;
}

.modeltype {
    background-color: #16e9af !important;
}

.controllertype {
    background-color: #79dde8 !important;
}

.viewtype {
    background-color: #ffb648 !important;
}

.viewmodeltype {
    background-color: #f35454 !important;
}

.docrequest {
    background-color: #4d646c !important;
}

.featurerequest {
    background-color: #b5c5ca !important;
}

/*Bar colors for dashboard*/
/*
    Teal - #16e9af [Model]
    light blue - #79dde8 [light blue]
    burnt red - #800000 
    orange - #ffb648 [view]
    salmon - #f35454

*/


